.header {
  background: #391a5c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
  padding-left: 2rem;
}

.nav-container {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.menu-icon {
  display: none;
  color: #fff;
}

.nav-logo {
  justify-self: start;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  list-style: none;
  justify-content: flex-end;
  padding: 0px;
}

.nav-item {
  margin: 0 1rem;
  width: 5rem;
}

.nav-item:hover,
.nav-item:active,
.nav-links.active {
  color: #fd7c6f;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #fd7c6f;
}

.nav-logo:hover,
.nav-logo:active,
.nav-logo.active {
  color: #fd7c6f;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #fd7c6f;
}

.header img {
  margin: 0 1rem;
  width: 5rem;
}

.nav-links {
  color: white;
  text-decoration: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    margin: 0%;
    padding: 0%;
    height: calc(100vh - 5rem);
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 5rem;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1c2237;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  /* .nav-links:hover {
    color: #f00946;
  } */

  .nav-item:hover,
  .nav-item:active,
  .nav-links.active {
    color: #fd7c6f;
    padding-bottom: 0;
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }
}
